footer{
	background-color: #4A4A4A;
	color: #fff;
	width: 100%;
	ul{
		overflow: hidden;
    	padding-left: 0px;
		li{
			list-style: none;
			font-size: 12px;
			padding-left: 0px !important;
			a{
				color: #fff;
			}
		}
	}
	

	h5{
		font-size: 15px; 
	}
}